/* For reference, as are not allowed by AO3 */
:root {
  --FONT-COLOR: #b7b7b7;
  --BG-COLOR: #000;
  --HIGHLIGHT-COLOR: #5998d6;
  --THEME: url("/images/skins/textures/tiles/black-wallpaper-charcoal.gif");
  --BOX-OUTLINE-COLOR: #555;
}
